homepage > scrolledwindow > viewport > box {
  > carousel {
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 6px;
  }

  > label {
    margin-left: 20px;
    margin-top: 6px;
    margin-right: 20px;
    margin-bottom: 6px;
  }
}
