homepage > scrolledwindow > viewport > box {
  > carousel {
    margin: 12px 0 6px 0;
  }

  > label {
    margin-left: 20px;
    margin-top: 6px;
    margin-right: 20px;
    margin-bottom: 6px;
  }
}
