$base_color: desaturate(#e01b24, 20%);
$text_color: #f6f5f4;
$bg_color: #e01b24;
$fg_color: desaturate(#f6f5f4, 20%);

$selected_fg_color: $bg_color;
$selected_bg_color: $text_color;
$selected_borders_color: if(variant == 'light', darken($selected_bg_color, 15%), darken($selected_bg_color, 30%));
$borders_color: if($variant == 'light', darken($bg_color, 25%), darken($bg_color, 10%));
$alt_borders_color: if($variant == 'light', darken($bg_color, 24%), darken($bg_color, 18%));
$borders_edge: transparentize($base_color, 0.8);
$top_hilight: $borders_edge;
$headerbar_color: if($variant == 'light', lighten($bg_color, 5%), darken($bg_color, 3%));

$shadow_color: transparentize(black, 0.9);

$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_borders_color: mix($borders_color, $backdrop_bg_color, 35%);

$suggested_bg_color: $selected_bg_color;
