@mixin _shadows($list...) {
    $shadows: null;

    @each $shadow in $list {
        @if $shadow != none {
            $shadows: $shadows, $shadow;
        }
    }

    box-shadow: $shadows;
}

@function entry_focus_shadow($fc:$selected_bg_color) {
    @return inset 0 0 0 1px $fc;
}

@function entry_focus_border($fc:$selected_bg_color) {
    @if variant == 'light' {
        @return $fc;
    } @else {
        @return if($fc == $selected_bg_color, $selected_borders_color, darken($fc, 35%));
    }
}

@mixin entry($t, $fc:$selected_bg_color) {
    @if $t == focus {
        @include _shadows(entry_focus_shadow($fc))
        border-color: entry_focus_border($fc);
    }
}
