@function _widget_edge($c:$borders_edge) {
    @if $c == none {
        @return none;
    } @else {
        @return 0 1px $c;
    }
}

@mixin _shadows($list...) {
    $shadows: null;

    @each $shadow in $list {
        @if $shadow != none {
            $shadows: $shadows, $shadow;
        }
    }

    box-shadow: $shadows;
}

@function _border_color($c, $darker: false) {
    @if $darker == true {
        @return darken($c, 20%);
    } @else {
        @return darken($c, 10%);
    }
}

@function _button_hilight_color($c) {
    @if lightness($c) > 95% {
        @return white;
    } @else if lightness($c) > 90% {
        @return transparentize(white, 0.2);
    } @else if lightness($c) > 80% {
        @return transparentize(white, 0.5);
    } @else if lightness($c) > 50% {
        @return transparentize(white, 0.8);
    } @else if lightness($c) > 40% {
        @return transparentize(white, 0.9);
    } @else {
        @return transparentize(white, 0.98);
    }
}

@function _text_shadow_color($tc: $fg_color, $bg: $bg_color) {
    $_lbg: lightness($bg) / 100%;
    @if lightness($tc) < 50% {
        @return transparentize(white, 1 - $_lbg / ($_lbg * 1.3));
    } @else {
        @return transparentize(black, $_lbg * 0.8);
    }
}

@mixin _button_text_shadow($tc:$fg_color, $bg:$bg_color) {
    $_shadow: _text_shadow_color($tc, $bg);

    @if lightness($tc) < 50% {
        text-shadow: 0 1px $_shadow;
        -gtk-icon-shadow: 0 1px $_shadow;
    } @else {
        text-shadow: 0 -1px $_shadow;
        -gtk-icon-shadow: 0 -1px $_shadow;
    }
}

@mixin button($t, $c:$bg_color, $tc:$fg_color, $edge: none) {
    $_hilight_color: _button_hilight_color($c);
    $_button_edge: if($edge == none, none, _widget_edge($edge));
    $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge, 1)));
    $_button_shadow: 0 1px 2px transparentize($shadow_color, 0.03);

    @if $t == normal {
        color: $tc;
        outline-color: transparentize($tc, 0.7);
        border-color: if($c != $bg_color, _border_color($c), $borders_color);
        border-bottom-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
        $button_fill: if($variant == 'light', linear-gradient(to top, darken($c, 4%) 2px, $c),
                                              linear-gradient(to top, darken($c, 1%) 2px, $c)) !global;
        background-image: $button_fill;
        @include _button_text_shadow($tc, $c);
        @include _shadows(inset 0 1px $_hilight_color, $_button_edge, $_button_shadow);
    } @else if $t == hover {
        color: $tc;
        outline-color: transparentize($tc, 0.7);
        border-color: if($c != $bg_color, _border_color($c), $borders_color);
        border-bottom-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
        @if $variant == 'light' {
            $button_fill: linear-gradient(to top, $c, lighten($c, 1%) 1px) !global;
            @include _button_text_shadow($tc, lighten($c, 6%));
            @include _shadows(inset 0 1px _button_hilight_color(lighten($c, 6%)), $_button_edge, $_button_shadow);
        } @else {
            $button_fill: linear-gradient(to top, darken($c, 1%), lighten($c, 1%) 1px) !global;
            @include _button_text_shadow($tc, lighten($c, 6%));
            @include _shadows(inset 0 1px _button_hilight_color(darken($c, 2%)), $_button_edge, $_button_shadow);
        }
        background-image: $button_fill;
    } @else if $t == active {
        color: $tc;
        outline-color: transparentize($tc, 0.7);
        border-color: if($c != $bg_color, _border_color($c), $borders_color);
        $button_fill: if($variant == 'light', image(darken($c, 14%)), image(darken($c, 9%))) !global;
        background-image: $button_fill;
        @include _shadows(inset 0 1px transparentize($_hilight_color, 1), $_button_edge);

        text-shadow: none;
        -gtk-icon-shadow: none;
    } @else if $t == insensitive {
        $_bg: if($c != $bg_color, mix($c, $base_color, 85%), $insensitive_bg_color);

        color: if($tc != $fg_color, mix($tc, $_bg, 50%), $insensitive_fg_color);
        border-color: if($c != $bg_color, _border_color($c), $insensitive_borders_color);
        $button_fill: image($_bg) !global;
        background-image: $button_fill;
        text-shadow: none;
        -gtk-icon-shadow: none;
        @include _shadows(inset 0 1px transparentize(white, 1), $_button_edge);
    } @else if $t == insensitive-active {
        $_bg: if($variant == 'light', darken(mix($c, $base_color, 85%), 8%), darken(mix($c, $base_color, 85%), 6%));
        $_bc: if($c != $bg_color, _border_color($c), $insensitive_borders_color);

        color: if($c != $bg_color, mix($tc, $_bg, 60%), $insensitive_fg_color);
        border-color: $_bc;
        $button_fill: image($_bg) !global;
        background-image: $button_fill;
        @include _shadows(inset 0 1px transparentize(white, 1), $_button_edge);
    } @else if $t == backdrop {
        $_bg: if($c != $bg_color, $c, $backdrop_bg_color);
        $_bc: if($variant == 'light', $c, _border_color($c));

        color: if($tc != $fg_color, mix($tc, $_bg, 80%), $backdrop_fg_color);
        border-color: if($c != $bg_color, $_bc, $backdrop_borders_color);
        $button_fill: image($_bg) !global;
        background-image: $button_fill;
        text-shadow: none;
        -gtk-icon-shadow: none;
        @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);
    } @else if $t == backdrop-active {
        $_bg: if($variant == 'light', darken(mix($c, $base_color, 85%), 8%), darken(mix($c, $base_color, 85%), 4%));
        $_bc: if($variant == 'light', $_bg, _border_color($c));

        color: if($tc != $fg_color, mix($tc, $_bg, 80%), $backdrop_fg_color);
        border-color: if($c != $bg_color, $_bc, $backdrop_borders_color);
        $button_fill: image($_bg) !global;
        background-image: $button_fill;
        @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);
    } @else if $t == backdrop-insensitive {
        $_bg: if($c != $bg_color, mix($c, $base_color, 85%), $insensitive_bg_color);
        $_bc: if($variant == 'light', $_bg, _border_color($c));

        color: if($c != $bg_color, mix($tc, $_bg, 35%), $backdrop_insensitive_color);
        border-color: if($c != $bg_color, $_bc, $backdrop_borders_color);
        $button_fill: image($_bg) !global;
        background-image: $button_fill;
        text-shadow: none;
        -gtk-icon-shadow: none;
        @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);
    } @else if $t == backdrop-insensitive-active {
        $_bg: if($variant == 'light', darken(mix($c, $base_color, 85%), 8%), darken(mix($c, $base_color, 85%), 4%));
        $_bc: if($variant == 'light', $_bg, _border_color($c));

        color: if($c != $bg_color, mix($tc, $_bg, 35%), $backdrop_insensitive_color);
        border-color: if($c != $bg_color, $_bc, $backdrop_borders_color);
        $button_fill: image($_bg) !global;
        background-image: $button_fill;
        @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);
    } @else if $t == undecorated {
        border-color: transparent;
        background-color: transparent;
        $button_fill: none !global;
        background-image: $button_fill;

        @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);

        text-shadow: none;
        -gtk-icon-shadow: none;
    }
}

@mixin headerbar_fill($c:$headerbar_color, $hc:$top_hilight, $ov: none) {
    $gradient: linear-gradient(to top, darken($c, 2%), lighten($c, 4%));

    @if $variant == 'dark' {
        $gradient: linear-gradient(to top, lighten($c, 4%), lighten($c, 6%));
    }

    @if $ov != none {
        background: $c $ov, $gradient;
    } @else {
        background: $c $gradient;
    }

    box-shadow: inset 0 1px $hc;
}
