* {
    line-height: calc(1em + 0.5rem);
}

.rpy-trends-grid {
    background: none;
    padding: 24px 18px;
    border-spacing: 12px;
}

.rpy-trends-grid > child {
    padding: 0;
    background: none;
}

.rpy-video-item > grid {
    margin: 12px;
}
