* {
    line-height: calc(1em + 0.5rem);
}

.rpy-trends-grid {
    background: none;
    padding: 24px 18px;
    border-spacing: 12px;
}

.rpy-trends-grid > child {
    padding: 0;
    background: none;
}

.rpy-video-card > grid {
    margin: 12px;
}

.rpy-video-duration {
    margin: 12px;
    color: white;
    font-size: 9pt;
    font-weight: 700;
    padding: 0 12px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    min-height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

rpycontrols {
    margin: 18px;
}

rpycontrols > scale > trough > highlight {
    background-color: @red_3;
}

rpyplayerview .hideable {
    opacity: 1;
    transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

rpyplayerview.hide-osd .hideable {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

rpyplayerview headerbar {
    background: none;
    box-shadow: none;
}

rpyplayerview headerbar > windowhandle {
    background: none;
}

rpyplayerview headerbar button.back {
    min-width: 34px;
    min-height: 34px;
    padding: 0;
    border-radius: 9999px;

    color: alpha(white, 0.9);
    background-color: alpha(black, 0.65);

    outline: 0 solid transparent;
    outline-offset: 5px;
    transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        box-shadow 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

rpyplayerview headerbar button.back:hover {
    color: white;
    background-color: alpha(mix(black, currentColor, 0.15), 0.65);
}

rpyplayerview headerbar button.back:active,
rpyplayerview headerbar button.back.keyboard-activating {
    color: white;
    background-color: alpha(mix(black, currentColor, 0.25), 0.65);
}

rpyplayerview headerbar button.back:focus:focus-visible {
    outline-color: alpha(@accent_color, 0.5);
    outline-width: 2px;
    outline-offset: 1px;
}

rpyplayerview headerbar windowcontrols button > image {
    color: alpha(white, 0.9);
    background-color: alpha(black, 0.65);

    outline: 0 solid transparent;
    outline-offset: 5px;
    transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        box-shadow 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

rpyplayerview headerbar windowcontrols button:hover > image {
    color: white;
    background-color: alpha(mix(black, currentColor, 0.15), 0.65);
}

rpyplayerview headerbar windowcontrols button:active > image,
rpyplayerview headerbar windowcontrols button.keyboard-activating > image {
    color: white;
    background-color: alpha(mix(black, currentColor, 0.25), 0.65);
}

rpyplayerview headerbar windowcontrols button:focus:focus-visible > image {
    outline-color: alpha(@accent_color, 0.5);
    outline-width: 2px;
    outline-offset: 1px;
}
