.rpy-view {
  background-color: @sidebar_bg_color;
}

.rpy-view:backdrop {
  background-color: @sidebar_backdrop_color;
  transition: background-color 200ms ease-out;
}

.rpy-view gridview {
  background-color: transparent;
}
