on:
  push:
    paths-ignore:
    - .github/FUNDING.yml
    - .editorconfig
    - .gitignore
    - COPYING
    - README.md
    - ui-concept.png
    - UniTube-GTK.doap
name: Continuous Integration
jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
    - name: Setup Flatpak environment
      env:
        DEBIAN_FRONTEND: noninteractive
        API_KEY: ${{ secrets.API_KEY }}
      run: |
        sudo add-apt-repository ppa:alexlarsson/flatpak
        sudo apt update
        sudo apt install -y flatpak flatpak-builder libjson-glib-dev valac
        vala build-aux/rewrite-manifest-with-api.vala --pkg gio-2.0 --pkg json-glib-1.0 \
            --run-args "build-aux/com.github.nahuelwexd.UniTube.json unitube"
        flatpak remote-add --user --if-not-exists flathub \
            https://flathub.org/repo/flathub.flatpakrepo
    - name: Build with Flatpak Builder
      run: |
        flatpak-builder --user --disable-rofiles-fuse --repo=repo \
            --install-deps-from=flathub flatpak_app \
            build-aux/com.github.nahuelwexd.UniTube.json
    - uses: actions/upload-artifact@v2
      with:
        name: repo
        path: repo
  package:
    name: Create Flatpak bundle
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v2
    - name: Install Flatpak
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo add-apt-repository ppa:alexlarsson/flatpak
        sudo apt update
        sudo apt install -y flatpak
    - name: Create Flatpak bundle
      run: |
        flatpak build-bundle repo com.github.nahuelwexd.UniTube.Devel.flatpak \
            com.github.nahuelwexd.UniTube.Devel
        flatpak build-bundle --runtime repo com.github.nahuelwexd.UniTube.Devel.Locale.flatpak \
            com.github.nahuelwexd.UniTube.Devel.Locale
    - name: Upload Flatpak bundle
      uses: actions/upload-artifact@v2
      with:
        name: Flatpak Bundles
        path: '*.flatpak'
